@import "varsAndMixins";

.foldersAndFiles {
  .folders {
    cursor: pointer;
    @include flex-column;

    &-label {
      display: flex;
      align-items: center;
      position: relative;

      img {
        margin-right: 5px;
        max-width: 25px;
      }

      span {
        margin-left: auto;
        @include files-counter-small;
      }
      p{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .foldersAndFiles {
    margin-top: 5px;
  }
}

